.input{
    height: 50px;
    width: 80%;
    border-radius: 12px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    background: none;
    border: none;
    flex: 1;
    margin-left: 12px;
}

input:focus{
    outline: none;
}

button{
    margin-right: 8px;
    border: none;
    border-radius: 8px;
    background-color: springgreen;
    color: #fff;
    font-weight: 700;
    height: 35px;
    width: 80px;
}